@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Unbounded';
    src: url("/Unbounded-VariableFont_wght.ttf") format('truetype');
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: url("/frontend/public/assets/fonts/Nunito-VariableFont_wght.ttf") format('truetype');
}

body {
    height: 100%;
    width: 100%;
    background: rgb(244, 251, 254);
    background: linear-gradient(45deg, #d3dfe3 25%, #f1fcff 50%, #f7f0fc 80%);
    background-attachment: fixed;
    background-size: 130%;
    animation: bgAnimation 10s infinite alternate;
}

@keyframes bgAnimation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}