@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Unbounded";
  src: url("/fonts/Unbounded-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  height: 100%;
  width: 100%;
  background: rgb(244, 251, 254);
  background: linear-gradient(45deg, #d3dfe3 25%, #f1fcff 50%, #f7f0fc 80%);
  background-attachment: fixed;
  background-size: cover;
  font-family: "Nunito", "sans-serif";
  @apply text-secondary;
}

section {
  @apply p-10 pt-24 max-w-7xl mx-auto;
}

h1 {
  @apply font-unbounded text-7xl font-extrabold;
}

.simple-btn {
  @apply px-3 py-2 bg-secondary text-primary rounded-lg transition duration-300 hover:bg-indigo-400 active:bg-indigo-300;
}

.underline-text,
.underline-text-highlight {
  position: relative;
  z-index: 1;
}

.underline-text::after,
.underline-text-highlight::after {
  content: "";
  position: absolute;
  bottom: 0.1em;
  left: 0;
  width: 100%;
  height: 0.5em;
  z-index: -1;
  transform: scaleX(0);
  @apply bg-indigo-300;
  transform-origin: bottom right;
  transition: transform 0.5s cubic-bezier(0.9, 0, 0.1, 1);
}

.underline-text:hover::after,
.underline-text-highlight::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}