@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Unbounded";
  src: url("/fonts/Unbounded-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  background: rgb(244, 251, 254);
  background: linear-gradient(45deg, #d3dfe3 25%, #f1fcff 50%, #f7f0fc 80%);
  font-family: "Nunito", "sans-serif";
  @apply transition duration-500 text-secondary;
}

body.dark {
  background: #040d17;
  background: linear-gradient(45deg, #041014 25%, #061220 50%, #13081a 80%);
  @apply text-[#e6e5e1] transition duration-500;
}

::-webkit-scrollbar {
  @apply bg-transparent w-[5px];
}

::-webkit-scrollbar-thumb {
  @apply bg-secondary;
  border-radius: 5px 0 0 5px;
}

section {
  @apply p-3 py-10 pb-10 mx-auto sm:p-10 sm:pb-14 md:pt-24 md:pb-14 max-w-7xl;
}

h1 {
  @apply text-4xl font-extrabold leading-snug font-unbounded md:text-5xl lg:text-6xl lg:leading-normal md:leading-normal;
}

h2 {
  @apply text-3xl font-medium leading-snug text-left sm:text-4xl font-unbounded text-secondary dark:text-darkPrimary;
}

.simple-btn {
  @apply px-3 py-2 text-sm transition duration-300 rounded-lg cursor-pointer bg-secondary text-primary hover:bg-indigo-400 active:bg-indigo-300 dark:bg-darkPrimary dark:text-secondary dark:hover:bg-indigo-700 dark:hover:text-darkPrimary dark:active:bg-indigo-500 md:text-base;
}

.notallowed {
  pointer-events: none;
  @apply opacity-55;
}

.underline-text,
.underline-text-highlight {
  position: relative;
  z-index: 1;
}

.underline-text::after,
.underline-text-highlight::after {
  content: "";
  position: absolute;
  bottom: 0.1em;
  left: 0;
  width: 100%;
  height: 0.5em;
  z-index: -1;
  transform: scaleX(0);
  @apply bg-indigo-300;
  transform-origin: bottom right;
  transition: transform 0.5s cubic-bezier(0.9, 0, 0.1, 1);
}

.underline-text:hover::after,
.underline-text-highlight::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

body.dark .underline-text::after,
body.dark .underline-text-highlight::after {
  @apply bg-indigo-700;
}

.error {
  @apply mt-2 text-sm font-semibold text-red-600 md:text-base font-nunito;
}

/* quill editor styles  */
.ql-toolbar {
  border: none !important;
  background: #f9faff !important;
  @apply shadow-inner text-center rounded-xl border-2 z-[5] sticky top-5 md:top-24 bg-gradient-to-tr from-[#d3dfe3] to-[#f7f0fc] w-full sm:w-4/5 sm:mx-auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

body.dark .ql-toolbar {
  background: #4c5057ea !important;
}

.ql-toolbar button {
  padding: 5px !important;
  border-radius: 8px;
  margin: 5px !important;
}

body.dark .ql-fill {
  fill: whitesmoke;
}

body.dark .ql-stroke {
  stroke: white;
}

body.dark .ql-picker-options {
  background: #333333;
}

.ql-toolbar button.ql-active {
  background: #c7d2fe !important;
}

.ql-container {
  border: none !important;
  font-size: 0.9rem !important;
  min-height: 1024px;
  padding: 20px 0 0 !important;
  font-family: "Nunito", "sans-serif" !important;
  color: #333333;
}

body.dark .ql-container {
  color: #e6e5e1;
}

.ql-container img {
  height: 300px;
}

@media (min-width: 640px) {
  .ql-toolbar {
    padding: 20px !important;
  }

  .ql-toolbar button {
    height: 30px !important;
  }

  .ql-container {
    padding: 8px !important;
    font-size: 1.05rem !important;
  }
}

/* theme toggle  */
.st-sunMoonThemeToggleBtn .themeToggleInput {
  opacity: 0;
  width: 100%;
  aspect-ratio: 1;
}

.st-sunMoonThemeToggleBtn svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease;
  transform: rotate(40deg);
}

.st-sunMoonThemeToggleBtn svg .sunMoon {
  transform-origin: center center;
  transition: inherit;
  transform: scale(1);
}

.st-sunMoonThemeToggleBtn svg .sunRay {
  transform-origin: center center;
  transform: scale(0);
}

.st-sunMoonThemeToggleBtn svg mask>circle {
  transition: transform 0.64s cubic-bezier(0.41, 0.64, 0.32, 1.575);
  transform: translate(0px, 0px);
}

.st-sunMoonThemeToggleBtn svg .sunRay2 {
  animation-delay: 0.05s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay3 {
  animation-delay: 0.1s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay4 {
  animation-delay: 0.17s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay5 {
  animation-delay: 0.25s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay5 {
  animation-delay: 0.29s !important;
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked+svg {
  transform: rotate(90deg);
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked+svg mask>circle {
  transform: translate(16px, -3px);
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked+svg .sunMoon {
  transform: scale(0.55);
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked+svg .sunRay {
  animation: showRay1832 0.4s ease 0s 1 forwards;
}

@keyframes showRay1832 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}